{% extends "base.html" %} 
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="jumbotron-about jumbotron-fluid jumbotron-height-about">
        <div class="container h-80">
            <h1 class="display-4 logo-font text-black pt-5">
                About Us
            </h1>
            <div class="my-5">
                <h4>
                    <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Plan your next adventure</a>
                </h4>
            </div>
        
        </div>
    </div>

    <!-- Who we are section-->
    <div class="container">
        <div class="row pt-3 pl-2">
            <h2 class="colour-scheme">Who are we?</h2>
        </div>
        <div class="row">
            <div class="col ">
                <h3>Blue Ocean Travel - For backpackers, by backpackers</h3>
                <p>At Blue Ocean, we are passionate about creating unforgettable adventures for young travelers. 
                    As a team of avid explorers, we are dedicated to curating immersive experiences that foster a love for adventure,
                    cultural exchange, and personal growth. Our team has over 60 years combined experience in the travel industry. 
                    How do we know the best trips to do? Because we’ve done them!</br>
                </br>
                We’ve been in your position and we know all the questions you’re going to ask?
                What is the best trip to do? What is the best thing to do on the Australian East Coast?
                What is the best way to travel in Australia? We have the answers because we’ve asked these questions in the past.
                You don’t have to worry about trying to find the answers to these questions, we’re here to help you plan the trip of a lifetime.</br>
                </br>
                Our expertly crafted itineraries and commitment to safety ensure that every journey with us is filled with excitement,
                learning, and lasting memories. Join us as we embark on thrilling expeditions to breathtaking destinations, 
                where the spirit of adventure knows no bounds. </br>
                </br>
                What are  you waiting for? Contact us now or look into some of our beautiful destinations.
            </p>
            </div>
        </div>
    </div>

    <!-- What we do -->
    <div class="container">
        <div class="row">
            <h2 class="colour-scheme">What do we do?</h2>
        </div>
        <div class="row">
            <div class="col">
                <p>At Blue Ocean Travel we specialize in providing unforgettable adventure travel experiences for young explorers.
                     Our mission is to offer unique and responsible tours that cater to the needs of backpackers to ensure they have 
                     the best experience on their Australian east coast adventures. 
                    </br>
                    </br>   
                    Here's what we do:
                    <ul>
                        <li>
                            Tailored Adventures: We curate customized trips that cater to the specific interests and preferences
                         of young travelers, ensuring that every experience is unique and memorable. Just contact us via email, give us
                         a call or submit a contact form and we can help you plan your dream trip.
                        </li>
                        </br>
                        <li>
                            Responsible Tourism: We are committed to promoting responsible and sustainable travel practices, ensuring that 
                             our adventures have a positive impact on the destinations and communities we visit.
                        </li>
                        </br>
                        <li>
                            Expert Guidance: Our team of experienced guides and travel experts are dedicated to providing safe, educational,
                             and enriching experiences for our travelers.
                        </li>
                        </br>
                        <li>
                            Community Engagement: We actively engage with local communities to create meaningful cultural exchanges and support
                             local initiatives, fostering a deeper understanding of the places we visit.
                        </li>
                        </br>
                    </ul>
                    Through our unique approach to adventure travel, we aim to inspire the next generation of explorers and foster a deep appreciation for the world's diverse cultures and natural wonders.
                    </br>
                    <h3>Join us on an adventure of a lifetime!</h3>
                </p>

            </div>
        </div>
    </div>

    <!-- FAQ's -->
    <div class="container container-fluid justify-content-center">
        <div class="row justify-content-center">
            <h2 class="colour-scheme">Frequently asked questions</h2>
        </div>
    </div>
    <div class="d-flex justify-content-center">
      <div class="accordion col-12 col-lg-11 justify-content-center mb-3" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  What is the best trip in Australia?
                </button>
              </h2>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                  There’s no right or wrong answer to this question, it’s completely subjective. The best trip is always the trip that interests you the most. Check out our extensive list of trips for some inspiration
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  What is the best way to travel in Australia?
                </button>
              </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                  The most popular way to travel is the  hop on hop off Greyhound bus, Another popular way to travel is by rentinga a camper van. Feel free to contact us if you have any questions about campervan rentals
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Where should I start my Australia trip?
                </button>
              </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body">
                  Most backpackers will travel from South to North begining in Sydney and finishing in Cairns. Alternatively you can start in the north in Cairns and finish in Sydney in the south.
              </div>
            </div>
          </div>
          <div class="card">
              <div class="card-header" id="headingFour">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                      When is the best time of year to travel in Australia?
                  </button>
                </h2>
              </div>
              <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                <div class="card-body">
                  You can travel in Australia at any time of year. Most people will travel North to South in spring and south to North in the winter in order to chase the sun.
                </div>
              </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingFive">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    How do I get the best deals on trips in Australia?
                </button>
              </h2>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
              <div class="card-body">
                You can get the best deals on travel and trips by booking with Blue Ocean, We work with every tour operator to guarantee you get the best prices possible
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingSix">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    Should I solo travel in Australia?
                </button>
              </h2>
            </div>
            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
              <div class="card-body">
                Australia is an amazing location for solo travelling. You’re bound to meet other likeminded travellers and share the road, share some beers and share some epic stories swell.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingSeven">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                    How do I plan an Australian trip?
                </button>
              </h2>
            </div>
            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
              <div class="card-body">
                You can contact us directly and our expert team will be happy to help you plan the trip of a lifetime.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingEight">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                    Should I stay in hostels?                
                </button>
              </h2>
            </div>
            <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
              <div class="card-body">
                Yes! Hostels are a great way to travel on a budget and meet other cool travellers. Hostel dorm rooms are a melting pot of cultures, lanugauges and travel recommendations.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingNine">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                    What are the main attractions in Australia?
                </button>
              </h2>
            </div>
            <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionExample">
              <div class="card-body">
                The main attractions in Australia are: snorkelling or scuba diving on the Great Barrier Reef, Sailing around the Whitsunday Islands, or Camping on K’gari the worlds largest sand island
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTen">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                How do I know which is the best trip for me?
                </button>
              </h2>
            </div>
            <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordionExample">
              <div class="card-body">
                You can contact us directly and speak to one of our travel gurus. We’ve done all of these trips so we can answer any
                questions you many have and make personal reccomendations if you aren’t sure which is the best trip for you.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}


{% block page_footer %}
{% endblock %}