{% extends "base.html" %} 
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="jumbotron-about jumbotron-fluid jumbotron-height-about">
        <div class="container h-80">
            <h1 class="display-4 logo-font text-black pt-5">
                About Us
            </h1>
            <div class="my-5">
                <h4>
                    <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Plan your next adventure</a>
                </h4>
            </div>
        
        </div>
    </div>

    <!-- Who we are section-->
    <div class="container">
        <div class="row">
            <h2 class="colour-scheme">Who are we?</h2>
            <div class="col">

            </div>
        </div>
    </div>

    <!-- What we do -->
    <div class="container">
        <div class="row">
            <h2 class="colour-scheme">What do we do?</h2>
            <div class="col">

            </div>
        </div>
    </div>

    <!-- Why do we do it?-->
    <div class="container">
        <div class="row justify-content-centre">
            <h2 class="colour-scheme">Why Blue Ocean?</h2>
            <div class="col">

            </div>
        </div>
    </div>
    <!-- FAQ's -->
    <div class="container-fluid">
        <div class="row ">
            <h2 class="colour-scheme d-flex text-center">Frequently asked questions</h2>
            <div class="col">

            </div>
        </div>
    </div>

  


{% endblock %}


{% block page_footer %}
{% endblock %}