{% extends "base.html" %} 
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="jumbotron jumbotron-fluid jumbotron-height">
        <div class="container h-80">
            <h1 class="display-4 logo-font text-black">
                Let's hit the road
            </h1>
            <div class="my-5">
                <h4>
                    <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Plan your next adventure</a>
                </h4>
            </div>
        
        </div>
    </div>
    
    <!-- The below code was borrowed from backpackerdeals.com -->
    <div class="temp-content mb-10"><!-- 1 column content --><!-- 1 column content -->
        <h1 class="text-center">Why Book With Blue Ocean Travel?</h1>
        <div class="section-row hide-mobile bg-white">
            <div class="col-4 text-center"><img alt="real travel experts" height="60" src="https://www.backpackerdeals.com/imgproxy/TGS5EkG0DU_j5QzsDT-h1OoTDnU7A921nfEv6c6G0zg/h:480/w:480/plain/https://assets.travelloapp.com/uploads/deal/d8a961db42038bc98256f56b44d5cd2afd337b53203c3df513d2f56c1a2325f8.png" width="60">
                <h3>For Backpackers, By Backpackers</h3>
                <p>Our award winning team have been there, Let us help you plan the trip of a lifetime.</p>
            </div>
        
            <div class="col-4 text-center"><img alt="flexible booking" height="60" src="https://www.backpackerdeals.com/imgproxy/vFQKFZv1qWzDnsgmJVGG_Rt_7F9tia_QKbkgjKxcFSI/h:480/w:480/plain/https://assets.travelloapp.com/uploads/deal/08841aa746993849d1d7f05aac5c132ef5cf724e1ca5fd1add04d64b817e6b1e.png" width="60">
                <h3>Biggest selection of tours</h3>
                <p>We work with every tour operator to ensure you can get the trip of a lifetime</p>
            </div>
        
            <div class="col-4 text-center"><img alt="10% cashback" height="60" src="https://www.backpackerdeals.com/imgproxy/sb2kOc1HhWlckcCDuTot0rZ9WXtZBz0m4YK4gRS93is/h:480/w:480/plain/https://assets.travelloapp.com/uploads/deal/6ca0438322c51280ae4a006aa4b852e1ee3552583d382950aebe6323edf6a625.png" width="60">
                <h3>Best deals for travellers</h3>
                <p>We work with everytour operator in Australia. We get the best rates and pass the savings onto you</p>
            </div>
        </div>
        
        <div class="section-row hide-desktop">
            <div class="cols-6 text-center"><img alt="real travel experts" height="60" src="https://www.backpackerdeals.com/imgproxy/TGS5EkG0DU_j5QzsDT-h1OoTDnU7A921nfEv6c6G0zg/h:480/w:480/plain/https://assets.travelloapp.com/uploads/deal/d8a961db42038bc98256f56b44d5cd2afd337b53203c3df513d2f56c1a2325f8.png" width="60">
                <h3>Real Travel Experts</h3>
                <p class="sm">Our experts offer personalised guidance for an enriching journey.</p>
            </div>
            <div class="cols-6  text-center"><img alt="10% cashback" height="60" src="https://www.backpackerdeals.com/imgproxy/sb2kOc1HhWlckcCDuTot0rZ9WXtZBz0m4YK4gRS93is/h:480/w:480/plain/https://assets.travelloapp.com/uploads/deal/6ca0438322c51280ae4a006aa4b852e1ee3552583d382950aebe6323edf6a625.png" width="60">
                <h3>10% Cashback*</h3>
                <p class="sm">Book with us and get up to 10% cashback for your next booking.</p>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-white ">
        <div class="row bg-white justify-content-center mt-5">
            <h2> Our Destinations</h2>
        </div>
        <div class="section-row hide-mobile bg-white">
            <div class="col-4 bg-white text-center">
                <a href="{% url 'products' %}?region=great_barrier_reef">
                    <img alt="scubadiver and fish" src="media/GBR.webp" class="img-fluid">
                    <h2 class="colour-scheme destination-link ">Great Barrier Reef</h2>
                </a>
                
            </div>
            <div class="col-4 bg-white text-center pt-5">
                <a href="{% url 'products' %}?region=kgari_fraser_island" >
                    <img alt="beach scene with the ocean and vehicles"  src="media/kgari.webp" class="img-fluid">
                    <h2 class="mt-3 colour-scheme destination-link ">K'Gari (Fraser Island)</h2>
                </a>
            </div>
            <div class="col-4 bg-white text-center">
                <a href="{% url 'products' %}?region=whitsundays" class="destination-link ">
                    <img alt="tropical ocean scene with mountains" src="media/whitehaven.webp" class="img-fluid">
                    <h2 class="colour-scheme "> Whitsundays </h2>
                </a>
            </div>
        </div>
        <div class="section-row hide-desktop">
            <div class="cols-6 text-center">
                <a href="{% url 'products' %}?region=kgari_fraser_island">
                    <img alt="real travel experts"  src="media/kgari.webp" class="img-fluid">
                </a>
                <h2>K'Gari (Fraser Island)</h2>
            </div>
            <div class="cols-6  text-center">
                <a href="{% url 'products' %}?region=whitsundays">
                    <img alt="flexible booking" src="media/whitehaven.jpg" class="img-fluid">
                </a>
                <h2> Whitsundays </h2>
            </div>
            <div class="cols-6  text-center">
                <a href="{% url 'products' %}?region=great_barrier_reef">
                    <img alt="10% cashback" src="media/GBR.webp" class="img-fluid">
                </a>
                <h2>Great Barrier Reef</h2>
            </div>
        </div>
    </div>     
{% endblock %}


{% block page_footer %}
{% endblock %}