<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link colour-scheme mr-5 " href="{% url 'home' %}" id="all-products-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link colour-scheme mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Destinations
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="destinationoptions">
                <a href="{% url 'products' %}?region=kgari_fraser_island" class="dropdown-item">K'gari (Fraser Island)</a>
                <a href="{% url 'products' %}?region=whitsundays" class="dropdown-item ">Whitsundays</a>
                <a href="{% url 'products' %}?region=great_barrier_reef" class="dropdown-item ">Great Barrier Reef</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Tours</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link colour-scheme mr-5" href="{% url 'contact' %}">
                Contact US
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link colour-scheme mr-5" href="{% url 'aboutus' %}">
                About Us
            </a>
        </li>
    </ul>
</div>