{% load static %}

<!doctype html>
<html lang="en">
  <head>

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
         crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
        <style type="text/css">
                #mc_embed_signup{background:#fff; false;clear:left; font:14px Helvetica,Arial,sans-serif; width: px;}
        </style>
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <script src="https://kit.fontawesome.com/fc8fa5d1b2.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <!-- Stripe -->
        <script src="https://js.stripe.com/v3/"></script>
        {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Blue Ocean Travel {% block extra_title %}{% endblock %}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
  </head>
  <body>
    <header class="container-fluid fixed-top">
        <div id="topnav" class="row bg-white pt-lg-2 d-none d-lg-flex">
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
                <a href="{% url 'home' %}" class="nav-link main-logo-link">
                    <img src="{{ MEDIA_URL }}logo.webp" alt="company logo" width="auto" height="50vh">
                </a>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <form method="GET" action="{% url 'products' %}">
                    <div class="input-group w-100">
                        <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Where to next?">
                        <div class="input-group-append">
                            <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                    <li class="list-inline-item dropdown">
                        <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <div><i class="fas fa-user fa-lg"></i></div>
                                <p class="my-0">My Account</p>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                    <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                                    <a href="{% url 'staff' %}" class="dropdown-item">Submitted Contact Forms</a>
                                {% endif %}
                                <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                                <a href="{% url 'wishlist' %}" class="dropdown-item">My Wishlist</a>
                                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <a class="{% if total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'view_bag' %}">
                            <div class="text-center">
                                <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                                <p class="my-0">
                                    {% if total %}
                                        ${{ total|floatformat:2 }}
                                    {% else %}
                                        $0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row bg-white">
            <nav class="navbar navbar-expand-lg navbar-light w-100">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% include 'includes/mobile-top-header.html' %}
                {% include 'includes/main-nav.html' %}
            </nav>
        </div>
        
    </header>

    {% if messages %}
        <div class="message-container">
            {% for message in messages %}
                {% with message.level as level %}
                    {% if level == 40 %}
                        {% include 'includes/toasts/toast_error.html' %}
                    {% elif level == 30 %}
                        {% include 'includes/toasts/toast_warning.html' %}
                    {% elif level == 25 %}
                        {% include 'includes/toasts/toast_success.html' %}
                    {% else %}
                        {% include 'includes/toasts/toast_info.html' %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block footer %} 
    <footer class="text-center text-lg-start text-white mt-4" style="background-color: #1c2331"> 
        <div class="container-fluid"></div>
            <section
                    class="d-flex justify-content-between p-4"
                    style="background-color: #0ec2e6"
                    >
               
                <div class="me-5">
                <span>Get connected with us on social networks:</span>
                </div>
                <div>
                <a href="https://www.facebook.com/profile.php?id=61553982124655" target="_blank" rel="noopener" class="text-white me-4 pr-4">
                    <i class="fab fa-lg fa-facebook-f"></i>
                </a>
                <a href="https://instagram.com/blue_ocean.travel?igshid=MmVlMjlkMTBhMg==" target="_blank" rel="noopener" class="text-white me-4 pr-4">
                    <i class="fab fa-lg fa-instagram"></i>
                </a>
            
                </div>
            </section>

            <section class="">
                <div class="container text-center text-md-start mt-5">

                <div class="row mt-3">

                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
         
                    <h6 class="text-uppercase fw-bold">Blue Ocean Travel</h6>
                    <hr
                        class="mb-4 mt-0 d-inline-block mx-auto"
                        style="width: 60px; background-color: #0ec2e6; height: 2px"
                        />
                    <p>
                        Blue Ocean Travel is Australia’s leading independent adventure travel specialist. We work with a wide range of tour 
                        companies to bring you the best deals possible.
                    </p>
                    </div>

                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              
                        <h6 class="text-uppercase fw-bold">Destinations</h6>
                        <hr
                            class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #0ec2e6; height: 2px"
                            />
                        <p>
                            <a href="{% url 'products' %}?region=whitsundays" class="text-white">Whitsundays</a>
                        </p>
                        <p>
                            <a href="{% url 'products' %}?region=kgari_fraser_island" class="text-white">K'Gari (Fraser Island)</a>
                        </p>
                        <p>
                            <a href="{% url 'products' %}?region=great_barrier_reef" class="text-white">Great Barrier Reef</a>
                        </p>
                        <p>
                            <a href="{% url 'products' %}" class="text-white">All Experiences</a>
                        </p>
                    </div>
  
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
 
                    <h6 class="text-uppercase fw-bold">Useful links</h6>
                    <hr
                        class="mb-4 mt-0 d-inline-block mx-auto"
                        style="width: 60px; background-color: #0ec2e6; height: 2px"
                        />
                    <p>
                        {% if request.user.is_authenticated %}
                            <a href="{% url 'profile' %}" class="text-white">Your Account</a>
                        {% endif %}
                    </p>
                    <p>
                        <a href="{% url 'contact' %}" class="text-white">Contact Us</a>
                    </p>
                    <p>
                        <a href="{% url 'aboutus' %}" class="text-white">About us</a>
                    </p>
                    <p>
                        <a href="{% url 'privacy' %}" class="text-white">Privacy Policy</a>
                    </p>
                    </div>

                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
         
                    <h6 class="text-uppercase fw-bold">Contact</h6>
                    <hr
                        class="mb-4 mt-0 d-inline-block mx-auto"
                        style="width: 60px; background-color: #0ec2e6; height: 2px"
                        />
                    <p><i class="fas fa-home mr-3"></i> Unit 2,
                                                        <br> 148 Bangalow Road,
                                                        <br> Byron Bay
                    </p>
                    <p> <i class="fas fa-envelope mr-3"></i> 
                        <a href="mailto:info@blueocean.com" class="contact-link text-white">info@blueocean.com</a>
                    </p>
                    <p>
                        <i class="fas fa-phone mr-3"></i>
                        <a href="tel:+61 422 686616" class="contact-link text-white">+61 422 686616</a> 
                    </p>
                    </div>
            
                </div>
               
                </div>
            </section>
        
            <div
                class="text-center p-3"
                style="background-color: rgba(0, 0, 0, 0.2)"
                >
                © 2023 Copyright:
                <a class="text-white" href="{ url 'home'}"
                >Blueoceantravel.com</a
                >
        </div>
    </footer> 
  {% endblock %}


    {% block postloadjs %}
        <script type="text/javascript">
            $('.toast').toast('show');
        </script>
        <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
        <script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';
            ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';
            ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}
            (jQuery));var $mcj = jQuery.noConflict(true);
        </script>
    {% endblock %}


  </body>
</html>