{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Contact us</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="row">
                <div class="col-12 col-lg-12">
                    <h3 class="">Fill out the form below to Contact Us</h3>
                    <form action="{% url 'submit' %}" method="POST" id="payment-form" class="justify-content-center">
                        {% csrf_token %}
                        <fieldset class="rounded px-3 mb-5">
                            <legend class="fieldset-label small text-black px-2 w-auto">Details</legend>
                            {{ contForm.full_name | as_crispy_field }}
                            {{ contForm.email | as_crispy_field  }}
                            {{ contForm.phone_number | as_crispy_field }}
                        </fieldset>
                        <fieldset class="rounded px-3 mb-5">
                            <legend class="fieldset-label text-black px-10 w-auto">How can we help?</legend>
                            {{ contForm.input_text | as_crispy_field }}
                        </fieldset>
                        <div class="submit-button text-right mt-5 mb-2">                    
                            <button id="submit-button" class="btn btn-black rounded-0">
                                <span class="font-weight-bold">Submit Form</span>
                                <span class="icon">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-6 col-lg-6">
                <!-- Mailchimp newsletter signup-->
                <div height="" id="mc_embed_signup">
                    <form action="https://herokuapp.us21.list-manage.com/subscribe/post?u=d5772d23470d73fb838ce03a9&amp;id=929605563f&amp;f_id=00e4f3e6f0"
                    method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                        <div id="mc_embed_signup_scroll"><h2 class="colour-scheme">Join our mailing list</h2>
                            <div class="mc-field-group">
                                <label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label>
                                <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value="">
                                <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
                            </div>
                            <div id="mce-responses" class="clear foot">
                                <div class="response" id="mce-error-response" style="display: none;"></div>
                                <div class="response" id="mce-success-response" style="display: none;"></div>
                            </div>
                            <div aria-hidden="true" style="position: absolute; left: -5000px;">
                                /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
                                <input type="text" name="b_d5772d23470d73fb838ce03a9_929605563f" tabindex="-1" value="">
                            </div>
                            <div class="optionalParent">
                                <div class="clear foot">
                                    <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
                                    <p style="margin: 0px auto;"><a href="http://eepurl.com/iFc_T2" title="Mailchimp - email marketing made easy and fun"><span style="display: inline-block; background-color: transparent; border-radius: 4px;"><img class="refferal_badge" src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg" alt="Intuit Mailchimp" style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;"></span></a></p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}