{% extends "base.html" %}
{% load static %}
{% load bag_tools %}
{% load crispy_forms_tags %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <p class="text-center h3"> Are you sure you want to delete {{ product.name }}?</p>
                    </div>
                    <form method="post">
                        {% csrf_token%}
                        <div class="text-center">
                            <input class="btn btn-danger" type="submit" value="Confirm">
                            <button class="btn btn-warning"><a class ="text-decoration-none text-white" href="{% url 'home' %}"> Return to appointments</a></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}