{% extends "base.html" %}
{% load static %}
{% load bag_tools %}
{% load crispy_forms_tags %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <p class="text-center h3"> Are you sure you want to delete {{ product.name }}?</p>
                        </div>
                        <form method="post">
                            {% csrf_token%}
                            <div class="card-body"> 
                                <div class="text-center">
                                    <input class="btn btn-outline-danger" type="submit" value="Confirm">
                                    <a href="{% url 'home' %}">
                                        <button class="btn btn-outline-primary">Return home</button>
                                    </a>
                                </div> 
                            </div>
                        </form>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}