{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div>
                <hr>
                <h2 class="logo-font mb-4 pl-5">Submitted contact forms</h2>
                <hr>
            </div>
        </div>
    </div>
    <div class="container-fluid">
            <!-- Create for loop to iterate through the contact-->
            <div class="col-12 col-md-4 card text-center">
                <div class="card-header">
                    {{ ContactList.full_name }}
                </div>
                <div class="card-body">
                    <h5 class="card-title">Contact Details:</h5>
                    <p class="card-text">
                    {% for object in contact.forms.all %}
                        {{ object.email }}
                        { contactForm.phone_number }
                        { contactForm.input_text }
                    {% endfor %}
                    </p>
                    <a href="mailto:({ contactForm.full_name })" class="contact-link">Respond to { contactForm.full_name }</a>
                </div>
                <div class="card-footer text-muted">
                   Test
                </div>
            </div>
    </div>
{% endblock %}


    


{% block page_footer %}

{% endblock %}